<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title><%= title %></title><!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <%== meta_data_tags %>
    <%= canonical_tag(current_store.url) %>
    <%#= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&amp;display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'spree/frontend/all' %>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <%= render 'spree/shared/paths' %>
    <%= render 'spree/shared/translations' %>
    <%= javascript_include_tag 'spree/frontend/all' %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
</head>
<body data-hook="body">
<div id="progress">
    <div class="alert alert-info alert-progress">
        <div class="spinner"><%= Spree.t(:loading) %>...</div>
        <div class="progress-message"><%= Spree.t(:loading) %>...</div>
    </div>
</div>
<div class="wrapper">
    <%= render partial: 'spree/shared/main_nav_bar' %>
    <%= render partial: 'spree/shared/sidebar' %>
    <%= yield %>
    <%= render partial: 'spree/shared/footer' %>
    <%= render partial: 'spree/shared/modal' %>
</div>
<%= render partial: 'spree/shared/bottom_scripts' %>
</body>
</html>
