<% content_for :page_title do %>
    <%= Spree.t('gallery.title') %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t('gallery.new'), new_object_url, icon: 'plus', class: 'btn-primary', id: 'admin_new_gallery' %>
<% end %>

<% if @galleries.any? %>
    <table class="table sortable" id="listing_galleries" data-hook data-sortable-link="<%= update_positions_admin_galleries_url %>">
        <thead>
        <tr data-hook="admin_gallery_index_headers">
            <th class="no-border"></th>
            <th><%= Spree::Gallery.human_attribute_name('position') %></th>
            <th><%= Spree::Gallery.human_attribute_name('title') %></th>
            <th><%= Spree::Gallery.human_attribute_name('subtitle') %></th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <% unless @galleries.blank? %>
            <% @galleries.each do |gallery| %>
                <tr data-hook="gallery_row" class="<%= cycle('odd', 'even') %>" id="<%= spree_dom_id gallery %>">
                    <td class="move-handle text-center">
                        <span class="icon icon-move handle"></span>
                    </td>
                    <td><%= gallery.position %></td>
                    <td><%= gallery.title %></td>
                    <td><%= gallery.subtitle %></td>
                    <td class="actions text-right">
                        <%= link_to_edit gallery, no_text: true %>
                        <% if defined?(SpreeGlobalize) %>
                            <%= link_to content_tag(:span, '', class: 'icon icon-translate'),
                                        spree.admin_translations_path('gallery', gallery.id),
                                        class: 'btn btn-primary btn-sm icon-link with-tip',
                                        data: { 'original-title' => Spree.t('i18n.translations') } %>
                        <% end %>
                        <%= link_to_delete gallery, no_text: true %>
                    </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-warning no-objects-found">
        <%= Spree.t(:no_resource_found, resource: Spree::Gallery.model_name.human) %>,
        <%= link_to Spree.t(:add_one), spree.new_admin_gallery_path %>!
    </div>
<% end %>


<%= paginate @galleries %>