<% content_for :page_title do %>
  <%= Spree.t('page_section.title') %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t('page_section.new'), new_object_url, icon: 'plus', class: 'btn-primary', id: 'admin_new_page_section' %>
<% end %>

<% if @page_sections.any? %>
  <table class="table" id="listing_pages" data-hook>
    <colgroup>
      <col style="width: 30%">
      <col style="width: 40%">
      <col style="width: 25%">
      <col style="width: 0">
    </colgroup>
    <thead>
    <tr data-hook="admin_pages_index_headers">
      <th><%= Spree::PageSection.human_attribute_name('name') %></th>
      <th><%= Spree::PageSection.human_attribute_name('title') %></th>
      <th><%= Spree::PageSection.human_attribute_name('html_section_name') %></th>
      <th data-hook="admin_pages_index_header_actions" class="actions"></th>
    </tr>
    </thead>
    <tbody>
    <% unless @page_sections.blank? %>
      <% @page_sections.each do |section| %>
        <tr data-hook="admin_pages_index_rows" class="<%= cycle('odd', 'even') %>" id="<%= dom_id section %>">
          <td><%= section.name %></td>
          <td><%= section.title.html_safe %></td>
          <td><%= section.html_section_name %></td>
          <td class="actions text-right" data-hook="admin_pages_index_row_actions">
            <%= link_to_edit section, no_text: true %>
            <% if defined?(SpreeGlobalize) %>
              <%= link_to content_tag(:span, '', class: 'icon icon-translate'), spree.admin_translations_path('page_section', section.id), class: 'btn btn-primary btn-sm icon-link with-tip', data: { 'original-title' => Spree.t('i18n.translations') } %>
            <% end %>
            <%= link_to_delete section, no_text: true %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::PageSection.model_name.human) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_page_section_path %>!
  </div>
<% end %>
