<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel"><%= @product.name %></h5>
  <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><%= image_tag "general/icons/close-modal.svg" %></span></button>
</div>
<div class="modal-body">
  <%= form_tag '/send_collection', remote: true do %>
  <div class="accordion" id="accordionAddCollection">
    <div class="card card-top">
      <div class="items">
        <div class="icon"></div>
        <div class="format">Формат</div>
        <div class="size">Размер</div>
        <div class="price">Цена за шт.</div>
        <div class="count">Количество</div>
        <div class="count-m2"></div>
        <div class="total">Сумма</div>
        <div class="delete"></div>
      </div>
    </div>
    <%= render partial: 'spree/products/calc_line_modal', collection: @product.variants, as: 'calc_line' %>
  </div>

  <div class="footer">
    <div class="new_total">
      <div class="text">Общая сумма:</div>
      <div class="sum calc-total">0.00 ₽</div>
    </div>

    <div class="form_send-order">
        <div class="row row_form_send-order">
          <div class="col">
            <div class="input-group">
              <label for="customer_name">Фамилия Имя Отчество</label>
              <%= text_field_tag 'customer_name', nil, placeholder: "Ивано Иван Иванович" %>
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label for="customer_phone">Номер телефона</label>
              <%= text_field_tag 'customer_phone', nil, placeholder: "+7 (___) ___ __ __", type: 'number' %>
            </div>
          </div>
          <div class="col">
            <%= submit_tag 'Отправить заказ', data: { "disable-with": "Отправка..." }, class: "btn btn_form_send-order" %>
          </div>
        </div>
    </div>
    <div class="politics">
      <input type="checkbox" id="politicsCheckbox">
      <label for="politicsCheckbox">Согласие с настоящей<a href="#">Политикой конфеденциальности и обработке Персональных данных</a></label>
    </div>
  </div>

</div>
<% end %>
