<div class="modal fade" id="addProduct" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal_add-product">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><%= image_tag 'general/icons/close-modal.svg' %></span></button>
      </div>
      <div class="modal-body">
        <div class="product_modal_content">
          <div class="item item_slider">
            <div class="slidersList">
              <div class="slider_add-product_mini">
                <div class="slide"><%= image_tag 'content/catalog/slider-add-product-mini-1.jpg' %></div>
                <div class="slide"><%= image_tag 'content/catalog/slider-add-product-mini-1.jpg' %></div>
                <div class="slide"><%= image_tag 'content/catalog/slider-add-product-mini-1.jpg' %></div>
              </div>
              <div class="slider_add-product">
                <div class="slide">
                  <picture>
                    <source media="(max-width: 767px)" srcset="/static/images/content/catalog/slider-add-product-1-375.jpg">
                    <source media="(max-width: 1439px)" srcset="/static/images/content/catalog/slider-add-product-1-768.jpg"><img src="/static/images/content/catalog/slider-add-product-1.jpg">
                  </picture>
                </div>
                <div class="slide">
                  <picture>
                    <source media="(max-width: 767px)" srcset="/static/images/content/catalog/slider-add-product-1-375.jpg">
                    <source media="(max-width: 1439px)" srcset="/static/images/content/catalog/slider-add-product-1-768.jpg"><img src="/static/images/content/catalog/slider-add-product-1.jpg">
                  </picture>
                </div>
                <div class="slide">
                  <picture>
                    <source media="(max-width: 767px)" srcset="/static/images/content/catalog/slider-add-product-1-375.jpg">
                    <source media="(max-width: 1439px)" srcset="/static/images/content/catalog/slider-add-product-1-768.jpg"><img src="/static/images/content/catalog/slider-add-product-1.jpg">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="item item_option">
            <div class="header">
              <div class="item">
                <div class="description">Кирпич ручной формовки</div>
                <div class="title">Романов</div>
              </div>
              <div class="item"><a class="link-card-product" href="#">Карточка товара</a></div>
            </div>
            <div class="body">
              <div class="in-stock">В наличии</div>
              <div class="tabs">
                <ul class="nav nav-tabs" id="tabProduct" role="tablist">
                  <li class="nav-item" role="presentation"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                    <input type="radio" id="option-1" name="option" checked>
                    <label for="option-1">WDF</label></a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <input type="radio" id="option-2" name="option">
                    <label for="option-2">EcoWDF</label></a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <input type="radio" id="option-3" name="option">
                    <label for="option-3">EcoWDF</label></a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" id="profile-tab4" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <input type="radio" id="option-4" name="option">
                    <label for="option-4">EcoWDF</label></a></li>
                </ul>
                <div class="tab-content" id="tabProductContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="tab-box">
                      <div class="item item_characteristics">
                        <div class="item">
                          <div class="img"><%= image_tag 'general/icons/products/characteristics/m2.svg' %></div>
                          <div class="text">
                            <div class="name">Размер кирпича</div>
                            <div class="value">210х100х65 ММ</div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="img"><%= image_tag 'general/icons/products/characteristics/count-m2.svg' %></div>
                          <div class="text">
                            <div class="name">Количество в кв.метре</div>
                            <div class="value">59 ШТ.</div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="img"><%= image_tag 'general/icons/products/characteristics/amount.svg' %></div>
                          <div class="text">
                            <div class="name">Количество в поддоне</div>
                            <div class="value">590 ШТ.</div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="img"><%= image_tag 'general/icons/products/characteristics/size.svg' %></div>
                          <div class="text">
                            <div class="name">Размер поддона</div>
                            <div class="value">1200х800 CМ</div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="img"><%= image_tag 'general/icons/products/characteristics/weight.svg' %></div>
                          <div class="text">
                            <div class="name">Вес кирпича</div>
                            <div class="value">2.2 КГ.</div>
                          </div>
                        </div>
                      </div>
                      <div class="item item_description">
                        <div class="header"><%= image_tag 'general/icons/products/productIcon.svg' %>
                          <div class="text">ФорматWDF</div>
                        </div>
                        <div class="prices">
                          <div class="item">
                            <div class="title">Оптовая</div>
                            <div class="price">33.7 ₽</div>
                          </div>
                          <div class="item">
                            <div class="title">Розничная</div>
                            <div class="price">35.7 ₽</div>
                          </div>
                        </div>
                        <ul>
                          <li>Марка прочности модели 150</li>
                          <li>Морозостойкость F-50</li>
                          <li>Водопоглощение 12%</li>
                        </ul><a class="btn btn_add-product id_modalAddCollection" href="#">
                        <svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.4141 6.91406H8.08594V0.585938C8.08594 0.262324 7.82361 0 7.5 0C7.17639 0 6.91406 0.262324 6.91406 0.585938V6.91406H0.585938C0.262324 6.91406 0 7.17639 0 7.5C0 7.82361 0.262324 8.08594 0.585938 8.08594H6.91406V14.4141C6.91406 14.7377 7.17639 15 7.5 15C7.82361 15 8.08594 14.7377 8.08594 14.4141V8.08594H14.4141C14.7377 8.08594 15 7.82361 15 7.5C15 7.17639 14.7377 6.91406 14.4141 6.91406Z" fill="black"></path>
                        </svg><span>Добавить в заказ</span></a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div>example</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>