<%= render partial: 'spree/shared/slider' %>

<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <section class="catalog-content product-content">
    <div class="container-xl">
      <%= spree_breadcrumbs(@taxon) %>
      <!-- добавление в корзину-->
      <div class="card-product">
        <div class="card-product_top">
          <div class="item item_img">
            <%= image_combine_tag @product %>
          </div>
          <div class="item item_specifications">
            <div class="header">
              <div class="text">
                <div class="description"><%= @taxon.name %></div>
                <div class="title"><%= @product.name %></div>
              </div>
              <div class="price-block">
                <div class="block">
                  <div class="price_unit" id="piece-price"><%= @product.variants.first.price %><span>₽/шт.</span></div>
                  <div class="price_metr" id="sqr-meter-price"><%= @product.variants.first.price * @product.variants.first.sqr_meter_amount.to_f %><span>₽/м<sup>2</sup></span></div>
                </div>
              </div>
            </div>
            <div class="tabs">
              <ul class="nav nav-tabs" id="tabProduct" role="tablist">
                <% @product.variants.each_with_index do |variant, i| %>
                <li class="nav-item" role="presentation" data-price='{"piece":<%= variant.price %>, "sqrMeter":<%= variant.price * variant.sqr_meter_amount %>}'><a class="nav-link <%= 'active' if i == 0 %>" id="variant-<%= i %>-tab" data-toggle="tab" href="#variant-<%= i %>" role="tab" aria-controls="variant-<%= i %>" aria-selected="true">
                  <input type="radio" id="option-1" name="option" <%= 'checked' if i == 0 %>>
                  <label for="option-1"><%= variant.option_value('format') %></label></a></li>
                <% end %>
              </ul>
              <div class="tab-content" id="tabProductContent">
                <%= render partial: 'spree/products/properties', collection: @product.variants %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-product_bottom">
          <div class="title">Выбрать формат и количество кирпича для заказа:</div>
          <div class="table_add-product">
            <div class="header">
              <div class="item">
                <div class="icon"></div>
                <div class="format">Формат</div>
                <div class="availability">Наличие</div>
                <div class="price_unit">Цена, шт.</div>
                <div class="price_metr">Цена, м2</div>
                <div class="count">Количество</div>
                <div class="total">Сумма</div>
                <div class="arrow"></div>
                <div class="delete"></div>
              </div>
            </div>
            <div class="body accordion-add-product" id="accordionAddProduct">
              <%= render partial: 'spree/products/calc_line', collection: @product.variants %>
            </div>
            <div class="footer">
              <div class="total">
                <div class="title">Общая сумма:</div>
                <div class="number calc-total">0.00 ₽</div>
              </div>
              <div class="item">
                <div class="total">
                  <div class="title">Общая сумма:</div>
                  <div class="number calc-total">0.00 ₽</div>
                </div>
                <div class="add-to-basket">
                  <div class="btn btn_add-product">
                    <svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.4141 6.91406H8.08594V0.585938C8.08594 0.262324 7.82361 0 7.5 0C7.17639 0 6.91406 0.262324 6.91406 0.585938V6.91406H0.585938C0.262324 6.91406 0 7.17639 0 7.5C0 7.82361 0.262324 8.08594 0.585938 8.08594H6.91406V14.4141C6.91406 14.7377 7.17639 15 7.5 15C7.82361 15 8.08594 14.7377 8.08594 14.4141V8.08594H14.4141C14.7377 8.08594 15 7.82361 15 7.5C15 7.17639 14.7377 6.91406 14.4141 6.91406Z" fill="black"></path>
                    </svg><span>Добавить в заказ</span>
                  </div>
                </div>
                <div class="buy-one-click">
                  <div class="btn btn_add-product">Купить в 1 клик</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- конец добавление в корзину-->
      <!-- портфолио-->
      <!-- конец портфолио-->
    </div>
  </section>
  <!-- о производстве-->
  <!-- конец о производстве-->
  <!-- аккордион-->
  <!-- конец аккордион-->
  <!-- похожие продукты-->
  <!-- конец похожие продукты-->
  <!-- карта-->
  <!-- конец карта-->
  <!-- конец карточка товара-->
<% end %>
