<%= render partial: 'spree/shared/slider' %>

<section class="catalog-content">
  <div class="container-xl">
    <div class="breadcrumbs">
      <%= spree_breadcrumbs(@taxon) %>
    </div>
    <%= render partial: 'spree/shared/filters' %>
    <div class="products">
        <div class="grid">
          <div data-hook="taxon_products">
            <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
          </div>
        </div>
      </div>
  </div>
</section>

<%= render partial: 'spree/shared/page_section', locals: { page_section: @page_sections.section('partners') } %>
<div class="section section_empty"></div>

<%= render partial: 'spree/products/modals' %>
