<%= render partial: 'spree/shared/slider' %>

<section class="catalog-content">
  <div class="container-xl">
    <div class="breadcrumbs">
      <%= spree_breadcrumbs(@taxon) %>
    </div>
    <%= render partial: 'spree/taxons/taxon_filter' %>
    <div class="products">
        <%= render 'spree/taxons/include_products' %>
      </div>
  </div>
</section>

<%= render partial: 'spree/shared/page_section', locals: { page_section: @page_sections.section('partners') } %>
<div class="section section_empty"></div>

<%= render partial: 'spree/products/modals' %>
