<header class="header header_first">
  <div class="container-xl">
    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2"><a class="logo" href="/"><%= image_tag("general/icons/logo.svg") %></a></div>
      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-10">
        <div class="items items_first_nav">
          <div class="toolbar toolbar_first">
            <div class="items"><a class="item" href="#">
              <svg width="12" height="14" viewbox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.79737 14.0005L1.6961 9.89919C-0.565365 7.63773 -0.565365 3.95804 1.6961 1.69658C3.95756 -0.564877 7.63721 -0.564877 9.8987 1.69658C12.1602 3.95804 12.1602 7.63773 9.8987 9.89919L5.79737 14.0005ZM5.79737 0.820528C4.52217 0.820528 3.24698 1.30592 2.27619 2.27671C0.334619 4.21828 0.334619 7.37749 2.27619 9.31906L5.79737 12.8402L9.31854 9.31906C11.2601 7.37749 11.2601 4.21828 9.31854 2.27671C8.34776 1.30592 7.07256 0.820528 5.79737 0.820528Z" fill="white"></path>
                <path d="M5.79732 9.13797C3.9563 9.13797 2.4585 7.64017 2.4585 5.79915C2.4585 3.95813 3.9563 2.46033 5.79732 2.46033C7.63833 2.46033 9.13614 3.95813 9.13614 5.79915C9.13614 7.64017 7.63836 9.13797 5.79732 9.13797ZM5.79732 3.28076C4.40869 3.28076 3.27893 4.41052 3.27893 5.79915C3.27893 7.18781 4.40869 8.31754 5.79732 8.31754C7.18595 8.31754 8.31571 7.18778 8.31571 5.79915C8.31571 4.41049 7.18598 3.28076 5.79732 3.28076Z" fill="white"></path>
              </svg>
              <div class="text">Сеть продаж</div></a><a class="item" href="#">
              <svg width="14" height="13" viewbox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1" fill="white">
                  <path d="M12.8551 1.14059C12.131 0.414654 11.1163 0.00160723 10.0532 7.60127e-05C8.98921 0.00122443 7.97345 0.414052 7.2482 1.14012L7.00103 1.38372L6.75385 1.14012C5.31476 -0.304446 2.89253 -0.387405 1.34367 0.954792C1.27504 1.01429 1.20875 1.07609 1.14496 1.14012C-0.381652 2.67588 -0.381652 5.04933 1.14496 6.58509L6.63779 11.9876C6.82782 12.1747 7.14451 12.1827 7.34512 12.0055C7.35169 11.9997 7.35808 11.9937 7.3643 11.9876L12.8551 6.58509C14.3816 5.04949 14.3816 2.67618 12.8551 1.14059Z"></path>
                </mask>
                <path d="M12.8551 1.14059L13.5643 0.435579L13.5631 0.434359L12.8551 1.14059ZM10.0532 7.60127e-05L10.0546 -0.999926L10.0521 -0.999923L10.0532 7.60127e-05ZM7.2482 1.14012L7.95016 1.85238L7.95571 1.84683L7.2482 1.14012ZM7.00103 1.38372L6.29909 2.09596L7.00103 2.78775L7.70297 2.09596L7.00103 1.38372ZM6.75385 1.14012L6.04538 1.84592L6.05191 1.85236L6.75385 1.14012ZM1.34367 0.954792L0.688781 0.199066L0.688627 0.199201L1.34367 0.954792ZM1.14496 1.14012L0.436505 0.434364L0.435741 0.435133L1.14496 1.14012ZM1.14496 6.58509L0.435696 7.29012L0.443737 7.29803L1.14496 6.58509ZM6.63779 11.9876L7.33939 11.275L7.33901 11.2746L6.63779 11.9876ZM7.34512 12.0055L6.68336 11.2558L6.68304 11.256L7.34512 12.0055ZM7.3643 11.9876L6.66295 11.2748L6.66239 11.2753L7.3643 11.9876ZM12.8551 6.58509L13.5565 7.29795L13.5643 7.29009L12.8551 6.58509ZM13.5631 0.434359C12.6442 -0.48686 11.372 -0.998026 10.0546 -0.999923L10.0517 1.00007C10.8606 1.00124 11.6178 1.31617 12.1471 1.84682L13.5631 0.434359ZM10.0521 -0.999923C8.73398 -0.998501 7.46081 -0.487738 6.5407 0.433417L7.95571 1.84683C8.4861 1.31584 9.24444 1.00095 10.0542 1.00008L10.0521 -0.999923ZM6.54626 0.427888L6.29909 0.671488L7.70297 2.09596L7.95014 1.85236L6.54626 0.427888ZM7.70297 0.671488L7.45579 0.427888L6.05191 1.85236L6.29909 2.09596L7.70297 0.671488ZM7.4623 0.43436C5.64936 -1.38547 2.63137 -1.48432 0.688781 0.199066L1.99856 1.71052C3.1537 0.709508 4.98015 0.776582 6.04541 1.84589L7.4623 0.43436ZM0.688627 0.199201C0.601849 0.274431 0.517729 0.352832 0.436506 0.434365L1.85341 1.84588C1.89978 1.79934 1.94823 1.75415 1.99871 1.71038L0.688627 0.199201ZM0.435741 0.435133C-1.47858 2.36093 -1.47858 5.36428 0.435741 7.29008L1.85417 5.8801C0.715276 4.73437 0.715276 2.99084 1.85417 1.84512L0.435741 0.435133ZM0.443737 7.29803L5.93657 12.7005L7.33901 11.2746L1.84618 5.87214L0.443737 7.29803ZM5.93619 12.7002C6.5028 13.2581 7.41529 13.2778 8.00721 12.7549L6.68304 11.256C6.78605 11.165 6.90762 11.1308 7.01276 11.1335C7.1179 11.1361 7.23942 11.1766 7.33939 11.275L5.93619 12.7002ZM8.00689 12.7552C8.02713 12.7373 8.04691 12.7189 8.06621 12.6999L6.66239 11.2753C6.66926 11.2686 6.67626 11.262 6.68336 11.2558L8.00689 12.7552ZM8.06565 12.7004L13.5565 7.29791L12.1538 5.87227L6.66295 11.2748L8.06565 12.7004ZM13.5643 7.29009C15.4786 5.36446 15.4786 2.36121 13.5643 0.43558L12.1459 1.8456C13.2847 2.99115 13.2847 4.73453 12.1459 5.88009L13.5643 7.29009Z" fill="white" mask="url(#path-1-inside-1)"></path>
              </svg>
              <div class="text">Ваша подборка</div></a><a class="item item_login id_modalRegistrationOpen" href="#">
              <svg width="15" height="14" viewbox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.70445 7.47786H0.47727C0.213816 7.47786 0 7.26404 0 7.00059C0 6.73713 0.213816 6.52332 0.47727 6.52332H9.70445C9.96791 6.52332 10.1817 6.73713 10.1817 7.00059C10.1817 7.26404 9.96791 7.47786 9.70445 7.47786Z" fill="white"></path>
                <path d="M7.15879 10.0232C7.03656 10.0232 6.91445 9.97682 6.82147 9.88325C6.63503 9.69682 6.63503 9.39456 6.82147 9.20801L9.02966 6.99994L6.82147 4.79175C6.63503 4.60532 6.63503 4.30294 6.82147 4.11651C7.00802 3.93008 7.31027 3.93008 7.49671 4.11651L10.0421 6.66203C10.2285 6.84846 10.2285 7.15072 10.0421 7.33715L7.49671 9.88255C7.40314 9.97682 7.28102 10.0232 7.15879 10.0232Z" fill="white"></path>
                <path d="M7.63628 14.0005C4.74015 14.0005 2.18333 12.2581 1.12124 9.56115C1.02453 9.31681 1.14536 9.03937 1.39041 8.94266C1.63475 8.84723 1.91289 8.9662 2.0096 9.21252C2.92662 11.541 5.13539 13.0459 7.63628 13.0459C10.9695 13.0459 13.6817 10.3337 13.6817 7.00049C13.6817 3.66729 10.9695 0.955028 7.63628 0.955028C5.13539 0.955028 2.92662 2.46001 2.0096 4.78845C1.91219 5.03478 1.63475 5.15375 1.39041 5.05832C1.14536 4.9616 1.02453 4.68417 1.12124 4.43982C2.18333 1.74283 4.74015 0.000488281 7.63628 0.000488281C11.4958 0.000488281 14.6363 3.14096 14.6363 7.00049C14.6363 10.86 11.4958 14.0005 7.63628 14.0005Z" fill="white"></path>
              </svg>
              <div class="text">Вход</div></a></div>
          </div>
          <div class="navigation">
            <div class="items">
              <div class="item"><a href="#">Кирпич ручной формовки</a></div>
              <div class="item"><a href="#">Ригель-кирпич</a></div>
              <div class="item"><a href="#">Клинкерный кирпич</a></div>
              <div class="item"><a href="#">Тротуарный клинкер</a></div>
            </div>
            <div class="burger_block">
              <svg class="burger" width="33" height="26" viewbox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="-0.000488281" y="0.474243" width="31.8432" height="4.34226" rx="2.17113" fill="white"></rect>
                <rect x="0.462402" y="10.6062" width="31.8432" height="4.34226" rx="2.17113" fill="white"></rect>
                <rect x="0.462402" y="20.7382" width="31.8432" height="4.34226" rx="2.17113" fill="white"></rect>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<header class="header header_second">
  <div class="container-xl container-xl_header_second"><a class="logo" href="/"><%= image_tag("general/icons/logo-black.svg") %></a>
    <div class="items">
      <div class="navigation"><a class="item" href="#">Кирпич ручной формовки</a><a class="item" href="#">Ригель-кирпич</a><a class="item" href="#">Клинкерный кирпич</a><a class="item" href="#">Тротуарный клинкер</a></div>
      <div class="contacts"><a class="item item_phone" href="tel:+7 922 079 3302"><%= image_tag("general/icons/header/phone.svg") %><span>+7 922 079 3302</span></a><a class="item item_email" href="mailto:kom@zaobkz.ru"><%= image_tag("/static/images/general/icons/header/email.svg") %><span>kom@zaobkz.ru</span></a></div>
      <div class="burger"><%= image_tag("general/icons/header/burger-green.svg") %></div>
    </div>
  </div>
</header>