<% unless page_section.blank? %>
  <div class="section section_<%= page_section.html_section_name %>">
    <%= cropped_image_tag(page_section.cropped_image, 'bg-img') %>
    <div class="container-xl">
      <div class="title"><%= page_section.title.html_safe %></div>
      <div class="description"><%= page_section.description.html_safe %></div>
      <% if page_section.button_centered? %>
      <div class="btn-wrap">
      <% end %>
        <div class="btn <%= page_section.button_style %>"><%= link_to page_section.button_text, page_section.button_url %></a></div>
      <% if page_section.button_centered? %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
