<div class="sidebar sidebar_wrapper"></div>
<div class="sidebar_block">
  <div class="sidebar_container">
    <div class="sidebar_header"><a class="logo" href="/"><%= image_tag("general/icons/logo.svg") %></a>
      <div class="slogan">ВНИМАНИЕ К КАЖДОЙ ДЕТАЛИ</div>
      <div class="close_sidebar">
        <svg width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4.00024" y="-0.000732422" width="31.8432" height="4.34226" rx="2.17113" transform="rotate(45 4.00024 -0.000732422)" fill="white"></rect>
          <rect x="1.00024" y="22.9993" width="31.8432" height="4.34226" rx="2.17113" transform="rotate(-45 1.00024 22.9993)" fill="white"></rect>
        </svg>
      </div>
    </div>
    <div class="sidebar_slider">
      <div class="sidebar_slider_block" id="sidebar_slider">
        <ul class="slidee">
          <li class="item"><a href="#">
            <div class="img"><%= image_tag("content/sidebar_slider_1.jpg") %></div>
            <div class="title">Кирпич ручной работы Монс-Роял</div>
            <div class="more">Подробнее</div></a></li>
          <li class="item"><a href="#">
            <div class="img"><%= image_tag("content/sidebar_slider_2.jpg") %></div>
            <div class="title">Кирпич ручной работы Монс-Роял</div>
            <div class="more">Подробнее</div></a></li>
          <li class="item"><a href="#">
            <div class="img"><%= image_tag("content/sidebar_slider_1.jpg") %></div>
            <div class="title">Кирпич ручной работы Монс-Роял</div>
            <div class="more">Подробнее</div></a></li>
          <li class="item"><a href="#">
            <div class="img"><%= image_tag("content/sidebar_slider_1.jpg") %></div>
            <div class="title">Кирпич ручной работы Монс-Роял</div>
            <div class="more">Подробнее</div></a></li>
          <li class="item"><a href="#">
            <div class="img"><%= image_tag("content/sidebar_slider_1.jpg") %></div>
            <div class="title">Кирпич ручной работы Монс-Роял</div>
            <div class="more">Подробнее</div></a></li>
        </ul>
      </div>
      <div class="scrollbar">
        <div class="handle"></div>
      </div>
    </div>
    <div class="sidebar_navigation">
      <ul>
        <li class="cursor"><a href="#">Каталог</a>
          <div class="toggle_btn"><%= image_tag("general/icons/arrow_sidebar.svg") %></div>
          <ul>
            <%= render partial: 'spree/shared/taxonomies', locals: { inside_li_tag: true } %>
          </ul>
        </li>
        <li class="cursor"><a href="#">О компании</a>
          <div class="toggle_btn"><%= image_tag("general/icons/arrow_sidebar.svg") %></div>
          <ul>
            <li><a href="#">Сертификаты</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Новости</a></li>
          </ul>
        </li>
        <li><a href="#">Сеть продаж</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Личный кабинет</a></li>
      </ul>
    </div>
    <div class="contacts"><a class="item" href="tel:+7 922 079 3302"><%= image_tag("general/icons/header/phone.svg", class: 'phone') %><span>+7 922 079 3302</span></a><a class="item" href="mailto:kom@zaobkz.ru"><%= image_tag("general/icons/header/email.svg", class: 'email') %><span>kom@zaobkz.ru</span></a></div>
  </div>
</div>