<% @body_id = 'home-page' %>

<%# content_for :sidebar do %>
<!--  <div data-hook="homepage_sidebar_navigation">-->
    <%#= render partial: 'spree/shared/taxonomies' %>
<!--  </div>-->
<%# end %>

<!--<div data-hook="homepage_products">-->
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/shared/products', locals: { products: @products } %>
  <%# end %>
<!--</div>-->
<%= render partial: 'spree/home/news_latest', locals: { news: @latest_news } %>
<%= render partial: 'spree/home/retailers', locals: { retailers: @retailers, regions: @regions } %>
<%= render partial: 'spree/home/about' %>
<%= render partial: 'spree/home/news_standard', locals: { news: @standard_news } %>
<%= render partial: 'spree/home/scroll' %>
